<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="HafdiDataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/hafdi"/>
        <property name="username" value="foo"/>
        <property name="password" value="bar"/>
    </bean>

    <!-- hibernate config -->
    <bean id="hibernateSessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="HafdiDataSource"/>
        <property name="annotatedClasses">
            <list>
                <value>com.hafdiserver.model.Status</value>
                <value>com.hafdiserver.model.Schiffsname</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">create</prop>
            </props>
        </property>
    </bean>

    <!-- our dao -->
    <bean id="mydao" class="com.hafdiserver.dao.HafdiDao">
        <property name="hafdiSessionFactory" ref="hibernateSessionFactory"/>
    </bean>
</beans>